/* Resets default padding and margin, sets a custom font, and applies a background color */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;  
  background-color: #d1d1d1;  
}

h1 {
  font-size: 2.5em;
  color:#ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 25px #06b3b3, 0 0 5px #046969;  
}

h2 {
  padding-top: 1em;
}

/* Styles the header including the navigation bar */
header {
  height: 2em;
  text-align: center;
}

/* Aligns navigation items to the right */
nav {
  text-align: right;
  margin-right: 2em;  
  margin-top: -4.5em;
}

/* Establishes a grid layout for the main content area */
main {
  display: grid;
  grid-template-areas: "sidebar main"; /* Defines the grid areas */
  grid-template-columns: 9fr 2fr; /* Proportion between sidebar and main content */  
  gap: 1em; /* Space between grid items */
  padding: 1em; /* Padding around the main area */
  margin: auto; /* Centers the grid */ 
}

/* Container holding both the sidebar and main content sections */
.container {
  display: grid;
  grid-template-columns: auto 1fr; /* Sidebar width and main content takes the rest */
  gap: 50px; /* Space between grid items */
  align-items: start; /* Start the content from the top of the grid */
}

/* Sidebar styling, uses the grid area named 'sidebar' */
.sidebar {
  margin-left: 3em;
  margin-top: -1em;
}

#activity-input, #duration-input {
  background-color: #a3a2a2;
  text-align: center;
  height: 20em;
  width: 15em;
  border-radius: 6%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  
  }

/* Main content styling */
.main-content {
  display: flex;
  flex-direction: column; /* Stacks the elements vertically */
  align-items: center; /* Center the elements horizontally */
  margin-top: 4em;  
}

/* Button container styling */
.spin-button-container {
  margin-bottom: 2em /* Adds space above the container */
}

/* Spinner styling */

#spinner {
  display: flex;
  flex-direction: row; /* Stacks the spinners horizontally */
  justify-content: center; /* Center the spinners horizontally */
  gap: 2em; /* Adds space between the spinners */  
}

.spinner-container {
  margin: 0;  
  width: 22em;
  height: 22em;
  transform: rotate(-135deg);
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

.inputs.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.spinner-input {
  position: absolute;  
}

#activity-input1 { 
  transform: rotate(0deg);
  text-align: center;
  width: 8em;
  text-transform: uppercase;
}
#activity-input2 { 
  transform: rotate(90deg);
  width: 8em;
  text-transform: uppercase;
}
#activity-input3 { 
  transform: rotate(180deg);
  width: 8em;
  text-transform: uppercase;
}
#activity-input4 { 
  transform: rotate(270deg);
  width: 8em;
  text-transform: uppercase;
}

.spinner-segment {
  position: absolute;  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}

.red { background-color: #f05757; transform: rotate(0deg); }
.green { background-color: #9ec171; transform: rotate(90deg); }
.blue { background-color: #719fc1; transform: rotate(180deg); }
.yellow { background-color: #e8c47d; transform: rotate(270deg); }

/* Specifies the font styling for various elements using Montserrat Alternates */
.montserrat-alternates-light {
  font-weight: 300;
}
.montserrat-alternates-regular {
  font-weight: 400;
}
.montserrat-alternates-extrabold {
  font-weight: 800;
}

#about {
  background-color: #ffffff;
  color: #666666;
  height: 2em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: color 0.1s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#about:hover {
  background-color: #e77ed9;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2), 0 0 25px #e77ed9, 0 0 5px #af40a0;     
}

#sound {
  background-color: #ffffff;
  color: #666666;
  height: 2em;
  width: 2em;
  text-align: center;
  font-family:'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: color 0.1s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#sound:hover {
  background-color: #e77ed9;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2), 0 0 25px #e77ed9, 0 0 5px #af40a0;   
}

#spin {
  justify-self: center; /* Centers the button horizontally within its grid area */  
  background-color: #666666;
  color: #ffffff;
  height: 1.8em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: color 0.2s ease, transform 0.2s ease;
}

#spin:hover {
  background-color: #e77ed9;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2), 0 0 25px #e77ed9, 0 0 5px #af40a0; 
}

#add {
  background-color: #666666;
  color: #ffffff;
  height: 2em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease, transform 0.3s ease;
}

#add:hover {
  background-color: #e77ed9;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2), 0 0 25px #e77ed9, 0 0 5px #af40a0;     
}

/* Adds margin to the bottom of each input row for spacing */
.input-row {
  margin-bottom: 1em;
}

/* Styles the text input fields to remove borders, add rounded corners, and set dimensions */
input[type="text"] {
  font-family: 'Montserrat Alternates', sans-serif;
  /* text-transform: uppercase; */
  font-weight: 600;
  border: none;
  border-radius: 1em;
  height: 2.2em;
  width: 9.5em;
  padding-left: 0.6em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
}

/* Applies a shadow effect to indicate focus on the input fields */
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(255, 91, 228, 0.5);
}

/* Styles for the number boxes next to input fields */
.number-box {
  display: inline-block;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%; /* Makes the number box circular */
  text-align: center;
  margin-right: 8px;
}

.output {
  display: flex;
  padding-top: 2em;
  margin-left: 6.5em;
  justify-self: center;
}

footer {
  font-size: 0.6em;
  text-align: center;
  height: 0.3em;  
  margin-top: -4em;  
}

/* Colors for each number box */
.color-1 { background-color: #f05757; }
.color-2 { background-color: #9ec171; }
.color-3 { background-color: #719fc1; }
.color-4 { background-color: #e8c47d; }

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Only one column on smaller screens*/
  }
  
  /* Adjusts the layout for the sidebar and main content to be more responsive */
  .main-content {
    order: -1; /* Places the main-content above the .sidebar */
  }
}