/* Resets default padding and margin, sets a custom font, and applies a background color */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;  
  background-color: #d1d1d1;  
}

/* Styles the header including the navigation bar */
header {
  padding: 0.1em;
  height: 1em;
  text-align: center;
}

/* Aligns navigation items to the right */
nav {
  padding-right: 1em;
  text-align: right;
}

/* Establishes a grid layout for the main content area */
main {
  display: grid;
  grid-template-areas: "sidebar main"; /* Defines the grid areas */
  grid-template-columns: 9fr 2fr; /* Proportion between sidebar and main content */  
  gap: 1em; /* Space between grid items */
  padding: 1em; /* Padding around the main area */
  margin: auto; /* Centers the grid */
  overflow: auto;
}

/* Container holding both the sidebar and main content sections */
.container {
  display: grid;
  grid-template-columns: auto 1fr; /* Sidebar width and main content takes the rest */
  gap: 50px; /* Space between grid items */
  align-items: start; /* Start the content from the top of the grid */
}

/* Sidebar styling, uses the grid area named 'sidebar' */
.sidebar {
  padding: 20px;
}

/* Main content styling */
.main-content {
  display: flex;
  flex-direction: column; /* Stacks the elements vertically */
  align-items: center; /* Center the elements horizontally */  
}

/* Button container styling */
.spin-button-container {
  margin-bottom: 2em /* Adds space above the container */
}

/* Spinner styling */

#spinner {
  display: flex;
  flex-direction: row; /* Stacks the spinners horizontally */
  justify-content: center; /* Center the spinners horizontally */
  gap: 2em; /* Adds space between the spinners */
}

.spinner-container {
  margin: 0;
  width: 22em;
  height: 22em;
  transform: rotate(-135deg);
  position: relative;
  }

.spinner-segment {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}

.red { background-color: #f05757; transform: rotate(0deg); }
.green { background-color: #9ec171; transform: rotate(90deg); }
.blue { background-color: #719fc1; transform: rotate(180deg); }
.yellow { background-color: #e8c47d; transform: rotate(270deg); }

/* Specifies the font styling for various elements using Montserrat Alternates */
.montserrat-alternates-light {
  font-weight: 300;
}
.montserrat-alternates-regular {
  font-weight: 400;
}
.montserrat-alternates-extrabold {
  font-weight: 800;
}

#about {
  background-color: #ffffff;
  color: #666666;
  height: 2em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#about:hover {
  background-color: #e77ed9;
  color: #ffffff;    
}

#sound {
  background-color: #ffffff;
  color: #666666;
  height: 2em;
  width: 2em;
  font-family:'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#sound:hover {
  background-color: #e77ed9;
  color: #ffffff;  
}

#spin {
  justify-self: center; /* Centers the button horizontally within its grid area */  
  background-color: #666666;
  color: #ffffff;
  height: 1.8em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#spin:hover {
  background-color: #e77ed9;    
}

#add {
  background-color: #666666;
  color: #ffffff;
  height: 2em;
  width: 4.5em;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#add:hover {
  background-color: #e77ed9;    
}

/* Adds margin to the bottom of each input row for spacing */
.input-row {
  margin-bottom: 1em;
}

/* Styles the text input fields to remove borders, add rounded corners, and set dimensions */
input[type="text"] {
  border: none;
  border-radius: 1em;
  height: 2.2em;
  width: 9.5em;
  padding-left: 0.6em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
}

/* Applies a shadow effect to indicate focus on the input fields */
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(255, 91, 228, 0.5);
}

/* Styles for the number boxes next to input fields */
.number-box {
  display: inline-block;
  font-family:'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%; /* Makes the number box circular */
  text-align: center;
  margin-right: 8px;
}

footer {
  font-size: 0.6em;
  text-align: center;  
}

/* Colors for each number box */
.color-1 { background-color: #f05757; }
.color-2 { background-color: #9ec171; }
.color-3 { background-color: #719fc1; }
.color-4 { background-color: #e8c47d; }

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Only one column on smaller screens*/
  }
  
  /* Adjusts the layout for the sidebar and main content to be more responsive */
  .main-content {
    order: -1; /* Places the main-content above the .sidebar */
  }
}